.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  &__item {
    margin: 5px;
    border: 2px black solid;
    border-radius: 5%;
    background-color: rgb(240, 252, 255);
    display: flex;
    flex-direction: column;
    &--image {
      width: 150px;
      border-bottom: 2px black solid;
    }
    &--title {
      text-align: center;
      justify-content: center;
      border-bottom: 2px black solid;
      padding-bottom: 15px;
    }
    &--type {
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
